{% extends 'base.html' %}
{% block title %}
Modify Blog
{% endblock %}
{% block heading %}

{% endblock %}

{% block content %}
<div class="card w-75 m-auto p-2 fs-3">
    <div class="card-body">
        <form action="/modify_blog/{{blog_id}}/{{cat_name}}" method="post" class="form">
            <div class=" text-center">
                <label for="" class="align-middle d-block fs-2">Blog Content</label>
                <textarea name="blog_text" class="form-control mt-4" cols="40" rows="17">{{blog_text}}</textarea>
            </div>
            <div>
                <div class="text-center">
                    <input type="submit" name="action" value="update" class="btn btn-primary btn-large mt-3 mx-3"></input>
                <input type="submit" name="action" value="delete" class="btn btn-primary btn-large mt-3 mx-3"></input>
                </div>

            </div>
        </form>
    </div>
 </div>
{%endblock%}